---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import Base from 'src/layouts/Base.astro'

export const getStaticPaths = (async () => {
	const posts = await getCollection('blog')
	return posts.map((el) => ({
		params: {
			post: el.slug,
		},
		props: el,
	}))
}) satisfies GetStaticPaths

const post = Astro.props
const { Content } = await post.render()
---

<Base>
	<header>
		<h1>{post.data.title}</h1>
	</header>
	<div class="prose prose-invert">
		<Content />
	</div>
</Base>
